<!DOCTYPE html>
<html lang="en-US">

<!-- ********** HEAD ********** -->
<head>

   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   <meta charset="UTF-8">
   <meta name="Keywords" content="{{config.keywords}}">
   <meta name="Description" content="{{config.description}}">
   <meta name="Version" content="{{version}}">
   <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
   <title>{{config.title}}</title>


<!-- ********** STYLES ********** -->
<style>
{% include "styles.css"  %}
</style>


<!-- ********** SCRIPTS ********** -->
<script>
{% include "scripts.js"  %}
</script>

</head>


<body onload="{{config.onload}}">

<!-- ********** BODY CONTENT ********** -->
{% include "content.html"  %}


<!-- ********** BODY FOOTER ********** -->
{% include "footer.html"  %}

</body>

</html>
