<!DOCTYPE html>
<html lang="en-US">

<head>

  <!-- Head -->
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="Keywords" content="{{config.keywords}}">
  <meta name="Description" content="{{config.description}}">
  <meta name="Version" content="{{version}}">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <title>{{config.title}}</title>

  <!-- Styles -->
  <style>
{% include "styles.css"  %}
  </style>

  <!-- Script -->
  <script>
{% include "scripts.js"  %}
  </script>

</head>


<body onload="init()">

  <!-- Content -->
{% include "content.html"  %}

  <!-- Footer -->
{% include "footer.html"  %}

</body>

</html>
